/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

html{
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

    /* <--nav bar--> */

nav{
    background: #540B51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 25px;
}
ul{
    display: none;
}
.nav-icon-container{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.nav-icon{
    width: 6rem;
}
.logo{
    width: 10rem;
}

    /* <--header section--> */

header{
    background: #540B51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}
.header-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40rem;
}
h1{
    padding: 2rem 1rem;
    font-size: 4.7rem;
    color: white;
    text-align: center;
}
.header-span{
    color: #ECB12F;
}
.header-p{
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
}

.header-button{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 95vw;
    margin: 2rem 0 0 0;
    padding: 1.5rem 0;
    background-color: white;
    font-size: 1.4rem;
    text-transform:uppercase;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #540B51;
}
.google-button{
    background-color: #4285F4; 
    position: relative;
}
.google-span{
    color: white;
}
.google-logo{
    position: absolute;
    left: 4px;
    width: 3.5rem;
    background: white;
    border-radius: 3px;
    
}
.hero-div{
    height: auto;
    overflow: hidden;
    padding-top: 6rem;
    margin-top: 2rem;
}
.header-hero-logo{
    position: relative;
    top: 0.6rem;
    left: 8.5rem;
    transform: scale(1.5);
    overflow: hidden;
}
    /* <-- company section --> */

.company-section{ 
    background: #F3EAE2;
    position: relative;
    top: rem;
    height: 23rem;
}
.section1-p{
    padding-top: 3.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}
.company-logo-div{
    padding: 3rem 0;
}
.company-logo{
    margin-left: 10px;
    position: relative;
}
.logo1{
    left: 3rem;
    bottom: 1rem;
    width: 10rem;
}
.logo2{
    left: 3.5rem;
    width: 6rem;
}
.logo3{
    left: 4rem;
    bottom: 0.5rem;
    width: 7rem;
}
.logo4{
    bottom: 0.2rem;
    left: 4.5rem;
    width: 5rem;
}
.logo5{
    top: 1.7rem;
    left: 4rem;
    width: 18rem;
}
.logo6{
    top: 2rem;
    left: 4rem;
    width: 13rem;
}

    /* statistics section */

.statistics-h3{
    font-size: 3rem;
    text-align: center;
    padding: 6rem 6rem;
    padding-bottom: 1.3rem;
    font-weight: 600;
    color: #540B51;
}
.statistics-p{
    font-size: 1.7rem;
    font-weight: 450;
    text-align: center;
    letter-spacing: 0.5px;
}
.first-line::after{
    content: "\a";
    white-space: pre;
}
.statistics-section > ul{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.statistics-section > ul > li{
    width: 16rem;
    font-weight: 700;
    color: #540B51;
    padding: 1.5rem 0;
}
.statistics-section > ul > li > p > span{
    font-size: 4.3rem;
}

    /* signup section */

.signup-section{
    background-color: #540B51;
    height: 33rem;
}
.signup-h3{
    font-size: 3rem;
    padding: 4rem 4rem;
    text-align: center;
    font-weight: 650;
    color: white;
}

.signup-button{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 95vw;
    margin: 2rem 0 1rem 1rem;
    padding: 1rem 0;
    background-color: white;
    font-size: 1.4rem;
    text-transform:uppercase;
    border-radius: 3px;
    height:5rem;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #540B51;
}
.purple-button{
    background-color: #540B51;
    color: white;
    border: 1px solid white;
}

    /* footer */

footer{
    height: 42rem;
}
.links-ul{
    margin: 4rem 2rem;
    padding-top: 3rem;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
}
.links-ul > li{
    margin: 1.5rem 0;
}
.icon-ul{
    width: 100vw;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
}

.icon-ul > li > i{
    font-size: 2.3rem;

}

.trademark{
    font-size: 1.2rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) and (max-width:1024px){

    /* <--header section--> */

    header{
        background-image: url('../images/background-singup.png');
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: row;
        justify-content: space-between;
        height: 85rem;
        padding: 2rem 0 2rem 3rem;
    }
    .header-div{
       padding-bottom: 10rem;
    }
    h1{
        width: 34rem;
        text-align: left;
        font-size: 7rem;
        font-weight: 500;
    }
    .header-p{
        width: 30rem;
        font-size: 2.2rem;
        text-align: left;
    }
    .header-button{
        width: 40rem;
        margin-left: 0;
    }
    .hero-div{
       height: 100%;
    }
    .header-hero-logo{
        top: 20rem;
        left: 18rem;
        transform: scale(1.8);
        width: 70rem;
    }

    /* <--company section--> */
    .company-section{
        height: 21rem;
    }
    .company-logo-div{
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .company-logo{
        position: static;
    }

    /* <--statistics section--> */

    .statistics-section > ul{
        flex-direction: row;
        justify-content:space-evenly;
        text-align: left;
    }
    
    /* <--signup section--> */

    .signup-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .signup-h3{
        font-size: 3.5rem;
    }
    .signup-button{
        width: 60rem;
    }
    
    /* footer section */

    .links-ul{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .icon-ul{
        width:33rem;
        justify-content: space-between;
        padding: 0 2rem;
        padding-bottom: 5rem;
    }
}